---
---
@import "{{ site.theme }}";

/* Sets the background of the site and changes the text color */
body{
    background-color: #0e1218;
    color: white;
}

/* Makes breakout code blocks have black background */
.main-content pre {
    background-color: black;
}

/* Sets the inline-code to have black background and white text */
.main-content code {
  background-color: black;
  color: white;
}

/* Setting variables used by the next section */
.highlight {

  $plaintext: #d0d0d0 !default;
  $string: #82cbcb !default;
  $literal: #6dc56a !default;
  $keyword: hsl(3.8, 100%, 72.4%) !default;
  $error-foreground: #151515 !default;
  $error-background: #ac4142 !default;
  $comment: #888 !default;
  $preprocessor: #f4bf75 !default;
  $name-space: hsl(28.2, 100%, 67.1%) !default;
  $name-attribute: #6a9fb5 !default;
  $system-names: hsl(269, 100%, 82.9%) !default;
  $top-level-name: hsl(210, 17.4%, 82%) !default;
  $operator: hsl(208.2, 100%, 73.7%) !default;
  $keyword-type: #d28445 !default;
  $regex: #75b5aa !default;
  $string-escape: #fff348 !default;
  $deleted: #ac4142 !default;
  $header: #6a9fb5 !default;
  $variable: #ffa657 !default;

  color: $plaintext;

  table td { padding: 5px; }
  table pre { margin: 0; }
  /* Whitespace */
  .w {
    color: $plaintext;
  }
  /* Error */
  .err {
    color: $error-foreground;
    background-color: $error-background;
  }
  /* Comments */
  .c,  .cd,  .cm,  .c1,  .cs {
    color: $comment;
  }
  .cp {
    color: $preprocessor;
  }
  /* Operator */
  .o,  .ow {
    color: $operator;
  }
  /* Punctuation */
  .p,  .pi {
    color: $plaintext;
  }
  /* Generic */
  .gi {
    color: $string;
  }
  .gd {
    color: $deleted;
  }
  .gh {
    color: $header;
    font-weight: bold;
  }
  /* Keywords */
  .k,  .kn,  .kp,  .kr {
    color: $keyword;
  }
  .kc, .kt, .kd {
      color: $keyword-type;
  }
  /* Variable */
  .kv {
    color: $variable
  }
  /* Strings */
  .s,  .sb,  .sc,  .sd,  .s2,  .sh,  .sx,  .s1 {
    color: $string;
  }
  /* Regex */
  .sr {
    color: $regex;
  }
  /* Sting escapes */
  .si, .se {
    color: $string-escape;
  }
  /* Namespaces */
  .nt, .nn,  .nc, .no{
    color: $name-space;
  }
  .n {
    color: $top-level-name;
  }
  .na {
    color: $name-attribute;
  }
  .nb {
    color: $system-names;
  }
  /* Numbers */
  .m,  .mf,  .mh,  .mi,  .il,  .mo,  .mb,  .mx {
    color: $literal;
  }
  /* Symbol */
  .ss {
    color: $string;
  }

}
